.MemberCard {
  width: fit-content;
  height: auto;
  border: 1px solid green;
  padding: 15px;

  .header {
    a {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 10px;
      margin-bottom: 10px;
    }
    img {
      border-radius: 100%;
    }
  }

  .info {
    margin-bottom: 20px;
    li:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
