.LocationInput {
  li {
    display: flex;
    align-items: center;
    cursor: pointer;

    height: 56px;
    padding: 0 10px;
    box-shadow: rgb(201, 211, 223) 0px 1px 4px;
    width: 100%;
    background-color: rgb(204, 204, 204);

    &:hover {
      background-color: blue;
      color: #fff;
    }
  }
}
