.Message {
  width: fit-content;
  padding: 10px;
  border-radius: 15px;

  .Body {
    display: flex;
    gap: 15px;

    p {
      cursor: pointer;
      padding: 10px;
      background-color: lightgray;
      border-radius: 5px;
    }
  }
}

.IsOwn {
  margin-left: auto;
}

.NotOwn {
  .Body {
    flex-direction: row-reverse;
  }
}
