.EventCard {
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid gray;

  .Header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: row;
  }

  h4 {
    text-align: center;
    margin: auto;
  }
}
