.LocationInput {
  ul {
    width: 100%;
    background-color: rgb(221, 219, 219);
    border-radius: 8px;
    padding: 8px;
    margin-top: 5px;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: 56px;
    cursor: pointer;

    &:hover {
      background-color: blue;
      color: white;
    }
  }

  button {
    width: 24px !important;
    height: 24px !important;
  }
}
